data/
reference/
benchmark/
*.fastq.gz
*.bam
*.bai
*.vcf.gz
*.fa
*.fai
*.dict
*.amb
*.ann
*.bwt
*.pac
*.sa

# Logs - keep small text logs for documentation, ignore folder otherwise
logs/*
!logs/*.log

# Results - keep only small reports, ignore big files inside
results/*
!results/*.html
!results/*.zip
!results/multiqc_data/
!results/multiqc_data/**
