data/
reference/
benchmark/
logs/
*.fastq.gz
*.bam
*.bai
*.vcf.gz
*.fa
*.fai
*.dict
*.amb
*.ann
*.bwt
*.pac
*.sa

# Allow the results folder itself, but ignore big files inside it
results/*
!results/*.html
!results/*.zip
!results/multiqc_data/
!results/multiqc_data/**
